portal2/
bin/
platform/
portal2_dlc*/
*.dll
.vscode/
sdk_content/
Soundtrack/
update/
portal2.exe
portal2.ico
portal2.sh
portal2_linux
portal2_osx
steam_appid.txt
installscript_osx.vdf
thirdpartylegalnotices.doc
game_actions_620.vdf
fontconfig/
crash_reports/
portal2_sixense/
client_classes.txt
game.cvars
portal2.cmd
portal2_sixense.cmd
sdk_tools/
sixense_deriv_log_file.txt
sixense_log_file.txt
srctools.vdf
srctools_sndscript_data.vdf
bee2/
*.mdmp
cfg/
vpk_override/
*.so
