portal2/
bin/
platform/
portal2_dlc*/
*.dll
# .vscode/
sdk_content/
Soundtrack/
update/
portal2.exe
portal2.ico
portal2.sh
portal2_linux
portal2_osx
steam_appid.txt
installscript_osx.vdf
thirdpartylegalnotices.doc
game_actions_620.vdf
fontconfig/
