bin
mpmod.cfg
platform
portal2.*
portal2
portal2_dlc1
portal2_dlc2
portal2_dlc3
portal2*
game_actions_620.vdf
installscript*
sdk_content
update
steam_appid.*
Soundtrack
bee2
thirdpartylegalnotices.doc
sdk_tools
bspsrc
MultiplayerModGUI/SmartGUI.exe
MultiplayerModGUI/SmartGUI.ini
MultiplayerModGUI/How To Use.xcf
MultiplayerModLinux/temp